# Copyright (c) 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

import init.carrier.rc

on early-init
    mkdir /firmware 0771 system system
    mkdir /system 0777 root root
    symlink /data/tombstones /tombstones
    mkdir /dsp 0771 media media
    mkdir /factory 0777 root root
    #+Req236056, zhouliquan.wt, add, 20161228, req of asus(demo app)
    mkdir /APD 0775 system system
    mkdir /ADF 0775 system system
    #-Req236056, zhouliquan.wt, add, 20161228, req of asus(demo app)

    chown system system /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery/charging_enabled

on fs
    mount_all fstab.qcom

    #Req234202, zhouliquan.wt, add, 20161221, mount factory in init
    wait /dev/block/bootdevice/by-name/factory
    mount ext4 /dev/block/bootdevice/by-name/factory /factory nosuid nodev barrier=1

    #Req236056, zhouliquan.wt, add, 20161228, req of asus(demo app)
    wait /dev/block/bootdevice/by-name/ADF
    mount ext4 /dev/block/bootdevice/by-name/ADF /ADF nosuid nodev barrier=1

    mkdir /persist/data 0700 system system
    mkdir /persist/bms 0700 root system
    restorecon_recursive /persist

    wait /dev/block/bootdevice/by-name/oem
    mount ext4 /dev/block/bootdevice/by-name/oem /oem ro nosuid nodev barrier=1

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /data/misc/hbtp 0750 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/logcat_log_mtp/ 0766 system system
    mkdir /data/logcat_log/ 0766 system system	
# For fingerprint
    mkdir /data/fingerprints/ 0766 system system	

    #+Req236056, zhouliquan.wt, add, 20161228, asus's patch for demoapp.
    #must mount APD ADF first
    restorecon_recursive /APD
    restorecon_recursive /ADF
    chown system system /ADF
    chmod 0775 /ADF
    #-Req236056, zhouliquan.wt, add, 20161228, asus's patch for demoapp.

    #zhouliquan, for PhoneInfoTest
    symlink /system/bin/PhoneInfoTest /data/data/PhoneInfoTest
    #wangrui,for GPSTest
    symlink /system/bin/GpsTest /data/data/GpsTest
    
#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

on init
   write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

service qfp-daemon /system/bin/qfp-daemon
   class late_start
   user system
   group system drmrpc

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

#M:Vic.LUO@WT for adb authhook @{
on property:persist.sys.authhook=*
    stop adbd
    start adbd
#M:Vic.LUO@WT @}

service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qrngp /system/bin/qrngp -f
   class main
   user root
   group root
   oneshot
   disabled

on property:sys.boot_completed=1
   start qrngp

service qseecomd /system/bin/qseecomd
   class core
   user root
   group root

#service aostlmd /system/bin/aostlmd
#   class late_start
#   user system
#   group system net_raw

service perfd /system/vendor/bin/perfd
   class main
   user root
   disabled

service gamed /system/vendor/bin/gamed
   class main
   user system
   group system
   disabled
   socket gamed seqpacket 0640 system system

service thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root

service time_daemon /system/bin/time_daemon
   #class late_start
   class main
   user root
   group root

service audiod /system/bin/audiod
   class late_start
   user system
   group system

on boot
    start rmt_storage
    insmod /system/lib/modules/adsprpc.ko
    # enable sched boost in order to schedule tasks on perf cluster
    write /proc/sys/kernel/sched_boost 1
# access permission for secure touch
    chmod 0660 /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch
    chmod 0660 /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch
    chown system drmrpc /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0/secure_touch
    chown system drmrpc /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/secure_touch

on boot
    chmod 0777 /system/lib/modules/texfat.ko
    chmod 0777 /system/lib/modules/tntfs.ko
    insmod /system/lib/modules/texfat.ko
    insmod /system/lib/modules/tntfs.ko
	
service write_ssn /system/bin/copy_ssn
    class late_start
    user root
    oneshot
    disabled
    seclabel  u:r:check_keybox:s0

on property:persist.radio.factory_phone_sn=*
    start write_ssn
    write /sys/class/android_usb/android0/iSerial ${persist.radio.factory_phone_sn}

on property:ro.serialno=*
    restart adbd

# modified by beam for asus unlock tool 2017/05/19
on property:persist.radio.factory_sn=*
    setprop ro.isn ${persist.radio.factory_sn}
	write /sys/devices/asus_phoneinfo/isn ${persist.radio.factory_sn}

service wcnss-service /system/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot

service imsstarter /system/bin/sh /system/etc/init.qti.ims.sh
    class main
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start imsstarter

service imsqmidaemon /system/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log diag
    disabled
	
on property:sys.boot_completed=1 && property:persist.sys.extbatterylife=*
    start batterysave

service batterysave /system/bin/batterysave
    class core
    user root
    group root
    oneshot
    disabled
	

on property:service.qti.ims.enabled=1
    start imsqmidaemon

service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet net_raw log diag net_admin
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio net_raw diag diag inet log
   disabled

service imscmservice /system/bin/imscmservice
   class main
   user system
   group radio net_raw diag diag log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon
    start imscmservice

service ppd /system/vendor/bin/mm-pp-dpps
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
#[PLATFORM]-Add-BEGIN by pingao.yang, bug-194301, 2016/07/13,reduce power consumption
    #load_all_props
    load_system_props
#[PLATFORM]-Add-END by pingao.yang
    setprop sys.usb.configfs 0
    setprop persist.sys.usb.config mass_storage
    setprop persist.sys.usb.config mass_storage
    #start hvdcp_opti	#[PLATFORM]-remove by pingao.yang, 2016/12/27

service hbtp /system/vendor/bin/hbtp_daemon
    class main
    user system
    group system
    disabled
#add by zhangdongwei for wingtechlog ramdump setting
on property:persist.asus.starttcp=1
		setprop init.svc.tcpdump-warp running
    start tcpdump-warp
    
on property:persist.asus.starttcp=0
    stop tcpdump-warp
    setprop init.svc.tcpdump-warp stopped

service tcpdump-warp /system/etc/catch_tcpdump.sh
    class main
    user root
    group root
    disabled
    oneshot
    
on property:persist.sys.ssr.download_mode=*
    write /sys/module/msm_poweroff/parameters/download_mode ${persist.sys.ssr.download_mode}


service savelog_wt /system/etc/savelog_wt.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
    seclabel  u:r:savelogmtp:s0
    
#Add by LUOZHUSHENG@WT for save aplog
service savelogmtp /system/etc/savelogmtp.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
    seclabel  u:r:savelogmtp:s0

on property:persist.asus.startlog=1
     start cat_kmsg_mtp
     start cat_logcat_mtp
     start logsize_check

on property:persist.asus.startlog=0
    stop cat_kmsg_mtp
    stop cat_logcat_mtp
    stop logsize_check
    
service cat_modem_mtp /system/etc/cat_modem.sh
    class main
    user root
    group root
    disabled
    oneshot
    
service stop_modem_mtp /system/etc/stop_modem.sh
    class main
    user root
    group root
    disabled
    oneshot

on property:persist.asus.qxdmlog.enable=1
     start cat_modem_mtp
#add by zhangdongwei.wt for resolve cant catch modem log after reboot because of during service start, diag port maybe unavailble
on property:init.svc.cat_modem_mtp=stopped && property:persist.asus.qxdmlog.enable=1
     start cat_modem_mtp

on property:persist.asus.qxdmlog.enable=0
#     stop cat_modem_mtp
     start stop_modem_mtp


service logsize_check /system/bin/logsize_check.sh
    class main
    user root
    group root
    disabled

service cat_kmsg_mtp /system/bin/cat_kmsg_mtp.sh
    class main
    user root
    group root
    disabled

service cat_logcat_mtp /system/bin/cat_logcat_mtp.sh
    class main
    user root
    group root
    disabled

#Add END
# add by weiguoqiu
on property:persist.asus.savelogs=*
    start savelogs

service savelogs /system/etc/savelogs.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
    seclabel  u:r:savelogmtp:s0
# add end 

#add by weiguoqiu
service savelogscomplete /system/etc/savelogscomplete.sh
     class late_start
     user root
     group root
     oneshot
     disabled
     seclabel u:r:zygote:s0

on property:persist.asus.savelogs.complete=1
    start savelogscomplete
#add end
#add by weiguoqiu
#on property:persist.asus.mupload.enable=1
#     start cat_kmsg_mtp
#     start cat_logcat_mtp
#     start logsize_check

#service check_logsize system/bin/check_logsize.sh
#    class main
#    user root
#    group root
#    disabled
#
#service cat_kmsg /system/bin/cat_kmsg.sh
#    class main
#    user root
#    group root
#    disabled
#
#service cat_logcat /system/bin/cat_logcat.sh
#    class main
#    user root
#    group root
#    disabled
#add end	

service dts_configurator /system/bin/dts_configurator
    class late_start
    user system
    group media audio
    oneshot

service dtseagleservice /system/bin/dts_eagle_service
    class late_start
    user system
    group audio media
    disabled

service adsprpcd /system/bin/adsprpcd
    class main
    user media
    group media

on property:init.svc.dts_configurator=stopped
    start dtseagleservice

service per_mgr /system/bin/pm-service
    class core
    user system
    group system net_raw

service per_proxy /system/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service hvdcp_opti /system/bin/hvdcp_opti
    class main
    user root
    group root

service mdtpd /system/vendor/bin/mdtpd
    class late_start
    user root
    group system radio drmrpc

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system

service gx_fpd /system/bin/gx_fpd
    class late_start
    user root
    group root system

#Req236056, zhouliquan.wt, add, 20161228, req of asus(demo app)
service mount_apd /system/bin/mount_apd.sh
    class main
    user root
    group root
    oneshot
    disabled

service WT_mount_apd /system/bin/WTEnableAPD
    user system
    group system
    oneshot
    disabled
    seclabel  u:r:wtapd:s0 

on property:persist.wingtech.WTenableAPD=1
    start mount_apd

on property:persist.sys.enableAPD=1
    start WT_mount_apd

# +++ ASUS BSP : add by beam for keybox check(bug235962) 2017/02/09
service check_keybox /system/bin/check_keybox  
		class core  
		user root  
		oneshot  
		disabled


# +++ ASUS BSP : add for verify voucher  
service VerifyVouchers /system/bin/VerifyVouchers  
		class core  
		user root  
		oneshot  
		disabled
		seclabel  u:r:VerifyVouchers:s0 

on property:sys.boot_completed=1  
		start VerifyVouchers
                start checkemmc
                start device_id
                start check_keybox
# --- ASUS BSP : add for verify voucher

service checkemmc /system/bin/check_emmc
     class core  
     user root  
     oneshot  
     disabled
     seclabel  u:r:VerifyVouchers:s0

# --- ASUS BSP : Beam add for block048 rw
service block_rw_service /system/bin/block_rw_service
	class core
	user root
	oneshot
	disabled

service device_id /system/bin/PhoneInfoTest 1 0
     class core  
     user root  
     oneshot  
     disabled
     seclabel  u:r:VerifyVouchers:s0

on boot
    write /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/fw_name PR1702898-s3528t_00260005_00380008.img
    write /sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0/update_fw 1
